.profile__info {
    max-width            : 336px;
    margin               : 0 40px;
    display              : grid;
    grid-template-columns: max-content max-content;
    grid-template-rows   : auto auto;
    align-items          : center;
}