@import url(./_desabled/popup__save-button_disabled.css);

.popup__save-button {
    max-width    : 358px;
    width        : 100%;
    min-height   : 50px;
    margin       : 48px auto 0;
    background   : #000000;
    color        : white;
    border       : none;
    border-radius: 2px;
    font-family  : Inter, Arial, sans-serif;
    font-style   : normal;
    font-weight  : normal;
    font-size    : 18px;
    line-height  : 22px;
    text-align   : center;
}

.popup__save-button:hover {
    opacity   : .5;
    transition: 0.3s;
    cursor    : pointer;
}